
$primary:#3271ee;
$primary-hover:#3271ee;

//text
$text-ligth:#ffffff;
$text-blue:#2a364e;
$text-grey:#8f8e8e;

//Border
$border-grey:#8f8e8e;
$border-blue:#2a364e;

//Background
$background-blue:#202f4d;
$background-ligth:#ffffff;
$background-grey:#cfd6df;


//Redes Sociales
$youtube:#cd201f;
$twitter:#1da1f2;
$facebook:#3b5998;


//color
$success:rgb(52, 218, 52);
$error:#FF0000;
$info:rgb(237, 255, 75);